<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
     <link rel="stylesheet" href="/style.css">
</head>
<body>
    <body style="background-color: rgb(163, 220, 201);"></body>
    <h2>Edit your post</h2>
    <p class="user">Post id : <%=post.id%></p>
    <p class="user" >Post username : @<%=post.username%></p>
    <form method="post" action="/post/<%=post.id%>?_method=PATCH">
        <textarea class="post" rows="10" cols="35" name="content" class="content"><%=post.content%></textarea>
    <button style="background-color: rgb(13, 216, 13);">Submit</button>
    </form>
    </body>
</body> 
</html>