h1{
    color: rgb(220, 80, 38);
}
h2{
   color:cadetblue
}
.post{
    background-color: bisque;
    border:2px solid gray; 
    margin:10px; 
    padding:10px;
}
.user{
    font-style: italic;
    color: rgb(246, 35, 7);
}
#ep{
    color: rgb(3, 92, 29);
    font-family: Arial, Helvetica, sans-serif;
}
.new{
    background-color: burlywood;
}
.btn-container{
    display: flex;
    gap: 10px;
}